.form-section {
  background-color: #6d42b1;
  padding: 50px 0px;
}

.hero-text {
  padding: 30px;
  font-size: 2rem;
  letter-spacing: -1px;
}

.legend-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.form__items__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 40px;
}

.form__item {
  align-self: flex-start;
  margin: 10px;
}

legend {
  box-shadow: 4px 4px 20px 1px rgba(54,54,54,0.2);
  margin: 20px 0px;
}

label {
  display: block;
}

input {
  font-size: 1.5rem;
  border: 2px solid rgb(20, 146, 20);
  min-height: 2rem;
  padding: 5px;
  border-radius: 4px;
  width: 300px;
}

.forms-footer {
  margin: 20px 30px;
}

.create-acc-btn {
  background-color:rgb(20, 146, 20); 
  font-size: 1.8rem;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  margin-bottom: 10px;
}
